
<div class="menu">
        <div id="col-content" class="dashboard-top-bar">
              <input class="myBuild" id="myBuild" value="" type="hidden">
                <ol class="breadcrumb">

                    <li><a href="#"><?php echo __("Dashboard", true);?></a>  </li>
                    <a id="drop2" href="#" class="dropdown-toggle" data-toggle="modal" data-target="#modal-fullscreen" aria-haspopup="true" role="button" aria-expanded="false">
                        
                        </a>
                    <div id="dashboard_fiter">

                        
                    </div>
                </ol>

            </div>

       <div class="wrapper wrapper-content">
 
       </div>

     </div>
   </div>

